@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PublicSans";
  src: local("Public Sans"),
    url(./assets/fonts/PublicSans-VariableFont_wght.ttf) format("truetype");
}

:root {
  font-family: PublicSans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  height: "100%";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-beige-100;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
